* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E11364;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 13px;

}

h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contenedor-principal {
    background-color: #BC105C;
    color: white;
    flex-direction: column;
    text-align: center;
    margin: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 25px;
}

#header {
    padding: 5px;
}

section {
    border-radius: 5px;
}

.contenedor2 {
    background-color: white;
    color:#9C0037 ;
    border-radius: 5px;
}

h2 {
    margin-bottom: 20px;
    text-align: left;
}

h3 {
    display: flex;
    justify-content: right;
    margin-bottom: 3px;
}

img {
    width: 100%;
}

article{
    padding: 10px;
    margin-bottom: 30px;
}

.linea-punteada {
    color: #E11364;
    border-top: 2px dotted;
    padding: 5px;
    margin-bottom: 7px;
}

header {
    border-width: 5px;
    margin: 1px;
    border-left-style: solid;
    border-left-color: white;
    border-right-style: solid;
    border-right-color: white;
}

p {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

a {
    text-decoration: none;
    color: white;
}

.boton {
    width: 85px;
    height: 35px;
    display: inline-flex;
    background-color: #2C8F20;
    border-radius: 5px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

#footer {
    background-color: #E96093;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}